<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
<nav class="navbar">
  <div class="container">
    <img src="assets/img/logo-half-blue.png" alt="Logo" class="logo" />
  </div>
</nav>

<div class="container">
  <h1>Directory Listing</h1>

  <div class="directory-path">
    <span>Search Directory Path:</span>
    <input 
    class="form-input"
      type="text" 
      [(ngModel)]="selectedDirectory" 
    />
    <button 
      (click)="getDirectoryListing()"
      class="form-button">
      Get Directory Listing
    </button>
  </div>

  <div class="listing" *ngIf="directoryListing.length > 0">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Full Path</th>
          <th>Size</th>
          <th>Extension</th>
          <th>Created Date</th>
          <th>Permissions</th>
          <th>Directory</th>
        </tr>
      </thead>
      <tbody>
        <tr 
          *ngFor="let item of directoryListing" 
          class="table-row" 
          (mouseover)="item.hovered = true" 
          (mouseleave)="item.hovered = false">
          <td 
          [class.directory]="item.isDirectory" 
          (click)="item.isDirectory ? selectDirectory(item.fullPath) : null">
            {{ item.name }}
          </td>
          <td>{{ item.fullPath }}</td>
          <td>{{ item.size }}</td>
          <td>{{ item.extension }}</td>
          <td>{{ item.createdDate }}</td>
          <td>
            <span *ngIf="item.permissions.read">R</span>
            <span *ngIf="item.permissions.write">W</span>
            <span *ngIf="item.permissions.execute">Ex</span>
          </td>
          <td>
            <span *ngIf="item.isDirectory">True</span>
            <span *ngIf="!item.isDirectory">False</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>